.bpmn-wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 300px;
}

.bpmn-animate-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f06;
  position: relative;
  z-index: 9999;
}
